html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	bottom: 0;
	font-family: 'Lato', sans-serif;
	background-color: #2C2F33;
	color: #fff;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 30vh;
}

header h1 {
	font-size: 46px;
	margin: 0;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 60vh;
}

main form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

main form input {
	margin: 0.5em;
	width: 100%;
	padding: 0.5em 1em;
	border: none;
	border-bottom: 1px SOLID #000;
	background-color: transparent;
	outline: none;
}

main form input::placeholder, main form input {
	text-align: center;
	color: #F7F7F7;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 10vh;
}